.unlock-section .container {
  display: flex;
  justify-content: space-between;
  width: 1152px;
  margin: 0 auto;
  align-items: center;
}

.unlock-section .mobile-login-pana {
  height: 433.4px;
  width: 441.53px;
}

.unlock-section .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 661px;
}

.unlock-section .div {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 601px;
}

.unlock-section .p {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.unlock-section .one-event-calendar {
  color: var(--Neutral-Grey, #717171);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.unlock-section .button {
  background-color: var(--brandprimary);
  color: var(--Default-White, #fff);
  padding: 14px 32px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  color: var(--Neutral-White, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Inter' !important;
}

@media only screen and (max-width: 1200px) {
  .unlock-section .container {
    width: 92%;
    flex-direction: column;
    margin: 0 16px;
    gap: 64px;
  }

  .unlock-section .frame {
    width: 92%;
  }

  .unlock-section .div {
    width: 92%;
  }
}
