.hero-section {
  align-items: center;
  background-color: var(--neutralsilver);
  display: flex;
  gap: 104px;
  padding: 96px 144px;
  position: relative;
}

.hero-section .frame {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  position: relative;
}

.hero-section .text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.hero-section .lessons-and-insights {
  align-self: stretch;
  color: transparent;
  font-family: var(--heading-headline-1-font-family);
  font-size: var(--heading-headline-1-font-size);
  font-style: var(--heading-headline-1-font-style);
  font-weight: var(--heading-headline-1-font-weight);
  letter-spacing: var(--heading-headline-1-letter-spacing);
  line-height: var(--heading-headline-1-line-height);
  margin-top: -1px;
  position: relative;
}

.hero-section .text-wrapper {
  color: #4d4d4d;
  font-family: var(--heading-headline-1-font-family);
  font-size: var(--heading-headline-1-font-size);
  font-style: var(--heading-headline-1-font-style);
  font-weight: var(--heading-headline-1-font-weight);
  letter-spacing: var(--heading-headline-1-letter-spacing);
  line-height: var(--heading-headline-1-line-height);
}

.hero-section .span {
  color: #4caf4f;
  font-family: var(--heading-headline-1-font-family);
  font-size: var(--heading-headline-1-font-size);
  font-style: var(--heading-headline-1-font-style);
  font-weight: var(--heading-headline-1-font-weight);
  letter-spacing: var(--heading-headline-1-letter-spacing);
  line-height: var(--heading-headline-1-line-height);
}

.hero-section .div {
  align-self: stretch;
  color: var(--neutralgrey);
  font-family: var(--body-regular-body-2-font-family);
  font-size: var(--body-regular-body-2-font-size);
  font-style: var(--body-regular-body-2-font-style);
  font-weight: var(--body-regular-body-2-font-weight);
  letter-spacing: var(--body-regular-body-2-letter-spacing);
  line-height: var(--body-regular-body-2-line-height);
  position: relative;
}

.hero-section .button-instance {
  flex: 0 0 auto !important;
}

.hero-section .design-component-instance-node {
  font-family: var(--body-medium-body-2-font-family) !important;
  font-size: var(--body-medium-body-2-font-size) !important;
  font-style: var(--body-medium-body-2-font-style) !important;
  font-weight: var(--body-medium-body-2-font-weight) !important;
  letter-spacing: var(--body-medium-body-2-letter-spacing) !important;
  line-height: var(--body-medium-body-2-line-height) !important;
}

.hero-section .illustration {
  height: 407px;
  position: relative;
  width: 391px;
}
