.frame {
  background-color: var(--neutralsilver);
  margin-top: 240px;
}

.frame .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0px;
  position: relative;
  width: 1440px;
  align-items: center;
}

.frame .let-nextcent-do-the {
  color: #263238;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 887px;
}

.frame .button {
  background-color: var(--brandprimary);
  color: var(--Default-White, #fff);
  padding: 14px 32px;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  color: var(--Neutral-White, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Inter' !important;
}

@media only screen and (max-width: 1200px) {
  .frame {
    margin-top: 64px;
  }

  .frame .container {
    width: 92%;
    flex-direction: column;
    margin: 0 16px;
  }

  .frame .let-nextcent-do-the {
    width: 92%;
    font-size: 48px;
  }
}
